@import "tailwindcss";


@theme {
    --font-ibm-plex-sans-arabic: 'IBM Plex Sans Arabic', sans-serif;
    --color-border: rgba(229, 231, 235, 1)
}




/* RTL modal close button */
#close-modal-button {
    margin-left: 0;
    margin-right: auto;
}

/* RTL filter buttons */
#filter-buttons {
    direction: rtl;
}

/* RTL search input */
#search-bar {
    padding-right: 2.5rem;
    padding-left: 1rem;
}

/* RTL modal footer */
#close-modal-button-footer {
    margin-right: auto;
    margin-left: 0;
}

.modal {
    transition: opacity 0.25s ease;
}

.modal-content {
    transition: transform 0.25s ease;
}

.translate-y-4 {
    transform: translateY(1rem);
}